.imgIcerik
{
    /*max-width: 100%;*/
    /*width: 100%;*/
    height: 100%;
    /*border-radius: 15px;*/
}
.FlickPadLR{
    display: inline-block;
}
.flickerplate{
    background: transparent;
}
.IlanHeader{
    font-size: 20px;
    color:orange;
    font-weight: bold;
}
.IlanAdres{
    font-size: 16px;
}
.bg-white{
    background-color: #ffffff !important;
    padding: 50px !important;
    color:#000000;
    border-radius: 5px;
}
.font-bold{
    font-weight: bold;
}

.flexslider .slides img{
    height: 400px !important;
}

@media only screen and (max-width: 767px) {
    .bg-white{
        padding: 5px !important;
    }

    .flexslider .slides img{
        height: 200px !important;
    }
}
