body{
    overflow: hidden;
}
.scrollHeight{
    overflow-x: hidden; overflow-y: scroll;
}
.pointer{
    cursor: pointer;
}
.headerlogo{
    min-width: 100px;
}
/* google maps */
.mapcanvas{
    width: 100%;
    min-height: 300px;
}
/* google maps SON */
.text-black{
    color: #000 !important;
}
.imgIcerik
{
    /*max-width: 100%;*/
    /*width: 100%;*/
    height: 100%;
    /*border-radius: 15px;*/
}
.FlickPadLR{
    display: inline-block;
}
.flickerplate{
    background: transparent;
}
.IlanHeader{
    font-size: 20px;
    color:orange;
    font-weight: bold;
}
.IlanHeader2{
    font-size: 16px;
    color:orange;
    font-weight: bold;
}
.IlanAdres{
    font-size: 16px;
}
.IlanAdres2{
    font-size: 10px !important;
}
.IlanAdres3{
    font-size: 10px !important;
}
.IlanDanismanIsim{
    font-weight: bold;
    font-size: 20px;
}
.thumbnail{
    background-color: transparent;
    border:1px solid #dddddd;
}
a.thumbnail{
    text-decoration: none !important;
    color: #000 !important;
}
.thumbnail .caption{
    color: #000000 !important;
}
.thumbnail img, .thumbnail>img{
    height: 150px !important;
}
.bg-white{
    background-color: #ffffff !important;
    padding: 50px !important;
    color:#000000;
    border-radius: 5px;
}
.font-bold{
    font-weight: bold;
}

.flexslider .slides img{
    height: 400px !important;
}

.padding-rl-2{
    padding-right: 2px;
    padding-left: 2px;
}
.padding-rl-5{
    padding-right: 5px;
    padding-left: 5px;
}
.padding-rl-10{
    padding-right: 10px;
    padding-left: 10px;
}
.padding-rl-30{
    padding-right: 30px;
    padding-left: 30px;
}
.padding-rl-50{
    padding-right: 50px;
    padding-left: 50px;
}
.padding-tb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}
.padding-tb-10{
    padding-top: 10px;
    padding-bottom: 10px;
}
.padding-tb-20{
    padding-top: 20px;
    padding-bottom: 20px;
}
.margin-rl-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
}
.margin-rl-10{
    margin-left: 10px;
    margin-right: 10px;
}
.borderGri{
    border:1px solid #c5c6c6;
}
/* Menu */
.menu1{
    padding-right: 0px;
    padding-left: 0px;
}
.menu1img{
    padding-right:20px;
    padding-left:20px;
}
.menu3{
    min-height:110px;
}
.menu3img{
    padding-right:30px;
    padding-left:30px;
}
.bg-detayli {
    background-color: #8477ba;
    color: #ffffff;
}
.bg-kurumsal {
    background-color: #713bb8;
    color: #ffffff;
}
.bg-danismanlar {
    background-color: #d9187f;
    color: #ffffff;
}
.bg-analiz {
    background-color: #46d4b8;
    color: #ffffff;
}
.spad-rl{
    padding-left: 2px;
    padding-right: 2px;
}
/* Menu SON */
.table>thead>tr>th, .table>thead>tr>th, table>tbody>tr>th, .table>tbody>tr>th, table>tfoot>tr>th, .table>tfoot>tr>th, table>thead>tr>td, .table>thead>tr>td, table>tbody>tr>td, .table>tbody>tr>td, table>tfoot>tr>td, .table>tfoot>tr>td
{
    border-color: #dddddd;
}
.divYan{display:inline-block;margin:2px;}
.fRight{float: right;}.fLeft{float: left;}
.mapContent{
    width:96%;
    /*width: 100%;*/
    padding:5px 0;
    margin: 5px;
    display: none;
    background-color: rgba(256, 256, 256, 1);
    border-radius: 5px;
    position: absolute;
    top:0;
}
.mapContent > div{
    padding: 0px 5px;
}
.mapContent>.div40{
    width: 52%;
}
.mapContent>.div60{
    width: 47%;
}
.mapIcon{width: 100%; margin-top: 5px;cursor: pointer;}
.anaDivMap{
    display:inline-block;
    width:99%;
    padding:5px 0;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

@media only screen and (min-width: 1901px) {
    /* Menu */
    .menu3{
        min-height:90px;
    }
    .menu3img{
        padding-right:55px;
        padding-left:55px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1900px) {
    /* Menu */
    .menu3{
        min-height:90px;
    }
    .menu3img{
        padding-right:50px;
        padding-left:50px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1875px) {
    /* Menu */
    .menu3{
        min-height:105px;
    }
    .menu3img{
        padding-right:50px;
        padding-left:50px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1700px) {
    /* Menu */
    .menu3{
        min-height:105px;
    }
    .menu3img{
        padding-right:45px;
        padding-left:45px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1600px) {
    /* Menu */
    .menu3{
        min-height:105px;
    }
    .menu3img{
        padding-right:40px;
        padding-left:40px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1500px) {
    /* Menu */
    .menu3{
        min-height:105px;
    }
    .menu3img{
        padding-right:35px;
        padding-left:35px;
    }
    /* Menu SON */
}
@media only screen and (max-width: 1400px) {
    .menu3{
        min-height:111px;
    }
}
@media only screen and (max-width: 1300px) {
    .menu1 h2 {
        font-size: 28px;
    }
    .menu3 h4 {
        font-size: 15px;
    }
    .menu3img{
        padding-right:25px;
        padding-left:25px;
    }
}
@media only screen and (max-width: 1200px) {
    .menu1 h2 {
        font-size: 24px;
    }
    .menu3 h4 {
        font-size: 15px;
    }
    .menu3img{
        padding-right:25px;
        padding-left:25px;
    }
}
@media only screen and (max-width: 1100px) {
    .menu1 h2 {
        font-size: 24px;
    }
    .menu3 h4 {
        font-size: 15px;
    }
    .menu3img{
        padding-right:20px;
        padding-left:20px;
    }
}
@media only screen and (max-width: 992px) {

}
@media only screen and (max-width: 767px) {
    .bg-white{
        padding: 5px !important;
    }

    .flexslider .slides img{
        height: 200px !important;
    }
}
